$base-color: #c23b27;
$bg-color: #f6f0ec;

$grey-text: rgb(176, 176, 176);

$grey-stroke: #cecece;

$space-content-top: 4.768rem;
$space-content-bottom: 4.768rem;
$space-ending: 160px;
$space-title-bottom: 1.953rem;
$space-subtitle-bottom: 1.563rem;
$space-text-bottom: 16px;

$space-panel: 32px;
