$base-color: blue;

$grey-text: rgb(176, 176, 176);

$grey-stroke: #cecece;

$space-content-top: 80px;
$space-content-bottom: 80px;
$space-ending: 160px;
$space-title-bottom: 32px;
$space-subtitle-bottom: 24px;
$space-text-bottom: 16px;

$space-panel: 32px;
