@import "library";

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slidedDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.herobanner {
  padding-top: $space-content-top;
}

.profile {
  img {
    border-radius: 4px;
    max-width: 300px;
  }
}

.item-con {
  // padding-bottom: $s;
  img {
    max-width: 150px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: $base-color;
}

.about-page {
  animation: expand 0.8s ease forwards;
  background-color: $bg-color;
  position: relative;
  transition: all 0.8s ease;
}

// .about-page {
//     background-color: $bg-color;
//     position: relative;
//   }

.menu {
  width: 100%;
  position: sticky;
  background-color: $bg-color;
  top: 0;
  height: 62px;
  z-index: 1;
}
@media (max-width: 768px) {
  .menu {
    height: 120px;
  }
}

.about-page .about {
  color: white;
  .icon-img {
    max-width: 80px;
    margin: 0 auto;
    padding: 24px 0;
  }

  .download-btn {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 16px 20px;
    text-align: center;
    margin: 0 20px;
    &:hover {
      background-color: $base-color;
    }
  }

  .download-icon {
    width: 16px;
  }
}

.footer {
  padding-top: $space-content-top;
  padding-bottom: $space-ending;
  img {
    max-width: 40px;
    border-radius: 4px;
    &:hover {
      width: 38px;
      border-radius: 4px;
    }
  }
}

.about,
.design,
.career,
.design-principle,
.books {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
}

hr {
  color: #6d6866;
}

.design,
.design-principle {
  img {
    max-width: 72px;
    height: 72px;
  }
}

.context {
  margin: 0 auto;
  padding: 0;
  max-width: 350px;
}
