@import "library";

@media (min-width: 0px) {
  .herobanner {
    max-height: 250px; /* Adjust the height for larger screens */
  }
  // .intro{
  //   padding-top: $space-content-top;
  //   padding-bottom: $space-content-bottom;
  // }
}
@media (min-width: 350px) {
  .herobanner {
    max-height: 300px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 500px) {
  .herobanner {
    max-height: 400px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 768px) {
  .herobanner {
    max-height: 550px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 900px) {
  .herobanner {
    max-height: 700px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 1200px) {
  .herobanner {
    max-height: 1200px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 1400px) {
  .herobanner {
    // width: 80%;
    margin: 0 auto;
    // max-height: 1500px; /* Adjust the height for larger screens */
  }
}

.bg3 {
  padding-bottom: $space-ending;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Cinzel Decorative", cursive;
  font-family: "Marcellus SC", serif;
  text-transform: uppercase;
}

.menu {
  height: 52px;
  // background-color: #5a719a8f;
  position: absolute;
  width: 100%;
  h1 {
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
  }
  .works {
    color: white;
    text-shadow: 1px 1px 2px black;
    &:hover {
      color: $base-color;
    }
  }
  .contact {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 4px;
    &:hover {
      // padding: 12px;
      background-color: $base-color;
      color: white;
    }
  }
}

h1,
h3,
h4,
h5,
h6,
p,
ol {
  color: white;
}

h1 {
  margin-bottom: $space-title-bottom;
}

h4 {
  margin-bottom: $space-text-bottom;
}

p {
  margin: 0;
}

.phone,
.idea,
.ui,
.userflow,
.wireframe,
.display,
.user,
.next,
.thanks,
.impact,
.challenge,
.research {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
}

.intro {
  padding-top: $space-ending;
}

.start {
  padding-bottom: $space-content-bottom;
}

.herobanner-bg {
  //4d6996
  background-image: linear-gradient(to bottom, #4d6996, #1c1c2c 90%);
  // background-image: linear-gradient(rgb(23, 29, 46), #1c1c2c);
}

.bg1,
.bg3 {
  background-color: #1c1c2c;
}

.bg2 {
  background-color: #14141f;
}

.herobannerxx {
  background-image: url("../images/avatar/avatar-herobanner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50%;
  position: relative;
  max-width: 1400px;
  margin: auto 0;
}

.herobanner {
  background-image: url("../images/avatar/avatar-herobanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px; /* Adjust the initial height as needed */
  text-align: center;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.top-line {
  background-image: url("../images/avatar/avatar-line-top.jpg");
}

.bottom-line {
  background-image: url("../images/avatar/avatar-line-bottom.jpg");
}

.top-line,
.bottom-line {
  background-position: center;
  background-repeat: repeat-x;
  background-size: cover;
  height: 6rem;
}

.ui-con {
  background-color: #1c1c2c;
  border-radius: 8;
  margin-bottom: $space-title-bottom;
}

.ui-con-box {
  padding: 2rem;
}

hr {
  border-top: 3px solid #3e3e5a;
  margin-bottom: $space-content-bottom;
  margin-top: $space-content-bottom;
}

.title-icon {
  display: flex;
}

.star {
  width: 21px;
  margin-right: 16px;
  padding-bottom: 16px;
}

.sm-text {
  color: $grey-text;
}

.text-bubble {
  color: white;
  background-color: #18192a;
  border-radius: 100px;
  // margin: 0 24px;
  padding: 24px;
}

.top {
  p {
    text-transform: uppercase;
  }
}

.footer {
  border-top: 1px solid #363656;
  padding-top: $space-content-top;
  padding-bottom: $space-ending;
  background-color: #1c1c2c;
  img {
    max-width: 28px;
    border-radius: 4px;
  }
  a {
    color: white;
    font-weight: 200;
    &:hover {
      color: $base-color;
    }
  }
  .email-address {
    margin-bottom: 36px;
  }
  .link-to-project {
    color: white;
    padding: 8px;
  }
}
