@import "library";

 
.herobanner-bg {
  background-color: #f5f5f5;
}

.herobanner {
  background-image: url("../images/donanum/donanum-herobanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px; /* Adjust the initial height as needed */
  text-align: center;
  // display: flex;
  justify-content: center;
  align-items: center;
}
 

@media (min-width: 0px) {
  .herobanner {
    max-height: 280px; /* Adjust the height for larger screens */
  } 
}
@media (min-width: 350px) {
  .herobanner {
    max-height: 350px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 768px) {
  .herobanner {
    max-height: 300px; /* Adjust the height for larger screens */
  } 
}
@media (min-width: 900px) {
  .herobanner {
    max-height: 450px; /* Adjust the height for larger screens */
  } 
}
@media (min-width: 1400px) {
  .herobanner {
    // margin: 0 auto; 
    max-height: 600px; /* Adjust the height for larger screens */
  }
}

hr {
    border-top: 1px solid $grey-stroke;
    margin-bottom: $space-subtitle-bottom;
    // padding-top: $space-content-bottom;
  }
  
.intro, 
.goal, 
.problem, 
.timeline,
.keyword,
.persona,
.flow,
.wireframe, 
.final {  
      padding-top: $space-content-top;
      padding-bottom: $space-content-bottom;
  }
  
.persona, .goal{
  background-color:   #eef1f5;
}

.problem {
    .img-con{
        display: flex;
        justify-content: center;
 
    }
    img{
    max-width: 80px;
}
}

h2 {
    padding-bottom: $space-title-bottom;
  }
  
  .menu {
      position: absolute;
      width: 100%;
    padding-top: 16px; 
    h1 {
    //   color: white;
      font-family: "Noto Sans", sans-serif;
      font-size: 24px;
    }
    .works {
    //   color: white;
      &:hover {
        color: $base-color;
      }
    }
    .contact {
      background-color: white;
      padding: 10px;
      color: black;
      border-radius: 4px;
      &:hover {
        background-color: $base-color;
      //   color: white;
      }
    }
  }
  
  hr {
    border-top: 1px solid $grey-stroke;
    margin-bottom: $space-subtitle-bottom;
    // padding-top: $space-content-bottom;
  }
 
 
    
  .icon-title {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  .space-top {
    padding-top: $space-content-top;
  }
  
  .space {
    padding-top: $space-content-top;
    padding-bottom: $space-content-bottom;
  }
   
  
  span {
    font-weight: 500;
  }
  
  .intro h6,
  .solved h6 {
    padding-top: 32px;
  }
  
  .icons h6 {
    padding-bottom: 16px;
  }
  
  .icon-con {
    border-radius: 4px;
    border: 1px solid $grey-stroke;
    .icon {
      padding: 8px;
      text-align: center;
      img {
        max-width: 18px;
        // max-height: 16px;
      }
    }
    .right-border {
      border-right: 1px solid $grey-stroke;
    }
  }
  
  .footer {
    padding-bottom: $space-ending;
    img {
      max-width: 28px;
      border-radius: 4px;
    }
    a {
      color: black;
      &:hover {
        color: $base-color;
      }
    }
    .email-address {
      margin-bottom: 36px;
    }
    .link-to-project {
      padding: 8px;
    }
  }
  