@import "library";

@media (min-width: 0px) {
  .herobanner {
    max-height: 250px; /* Adjust the height for larger screens */
  } 
}

@media (min-width: 350px) {
  .herobanner {
    max-height: 300px; /* Adjust the height for larger screens */
  }
}

@media (min-width: 500px) {
  .herobanner {
    max-height: 400px; /* Adjust the height for larger screens */
  }
}

@media (min-width: 768px) {
  .herobanner {
    max-height: 550px; /* Adjust the height for larger screens */
  }
}
@media (min-width: 900px) {
  .herobanner {
    max-height: 700px; /* Adjust the height for larger screens */
  }
}

@media (min-width: 1200px) {
  .herobanner {
    max-height: 1200px; /* Adjust the height for larger screens */
  }
}

@media (min-width: 1400px) {
  .herobanner {
    // width: 80%;
    margin: 0 auto;
    // max-height: 1500px; /* Adjust the height for larger screens */
  }
}

h1,
h3,
h4,
h5,
h6,
p,
ol {
  color: white;
}

.bg1,
.bg3 {
    background-color: black;
}
.space-top{
   padding-top: $space-content-top;
}
.space-bottom{
   padding-bottom: $space-content-bottom;
}

.bg2 {
    background-image: url("../images/graphic/gd-img-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 6rem 0;
    height: 72rem;  
    text-align: center; 
    justify-content: center;
    align-items: center;
}

@media (min-width: 370px) {
  .bg2 {
       height: 90rem;  
  } 
}

@media (min-width: 575px) {
  .bg2 {
       height: 40rem;  
  } 
}

@media (min-width: 1200px) {
  .bg2 {
       height: 50rem;  
  }
  .disney{
    padding-top: 4.7rem;
  }
}

.bg2 p{
    color: black;
    text-align: left;
}

.herobanner {
    background-image: url("../images/graphic/gd-herobanner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 40rem; /* Adjust the initial height as needed */
    text-align: center;
    // display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
  height: 52px; 
  position: absolute;
  width: 100%;
  h1 {
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
    padding-top: 16px;
    
  }
  .works {
    color: white;
    text-shadow: 1px 1px 2px black;
    &:hover {
      color: $base-color;
    }
  }
  .contact {
    background-color: black;
    padding: 10px;
    color: white;
    border-radius: 4px;
    &:hover {
      // padding: 12px;
      background-color: $base-color;
      color: white;
    }
  }
}

.footer {
  border-top: 1px solid #2e2e2e;
  padding-top: $space-content-top;
  padding-bottom: $space-ending;
  background-color: black;
  img {
    max-width: 28px;
    border-radius: 4px;
  }
  a {
    color: white;
    &:hover {
      color: $base-color;
    }
  }
  .email-address {
    margin-bottom: 36px;
  }
  .link-to-project {
    color: white;
    padding: 8px;
  }
}
