@import "library";

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slidedDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: $base-color;
}

.stroke {
  margin-top: $space-content-top;
  margin-bottom: $space-content-bottom;
}

.home {
  // height: 100vh;
  animation: expand 0.8s ease forwards;
  background-color: $bg-color;
  position: relative;
  transition: all 0.8s ease;
}

// animation
.herobanner {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
  h1,
  .profile {
    transform: translateY(1000px);
    animation: slideUp 2s ease forwards 0.5s;
    img {
      border-radius: 8px;
      max-width: 350px;
    }
  }
}

.menu {
  animation: slidedDown 3s ease forwards;
  width: 100%;
  position: sticky;
  background-color: $bg-color;
  top: 0;
  height: 62px;
  z-index: 1;
}

.works {
  transform: translateY(900px);
  animation: slideUp 1.8s ease-in-out forwards 0.8s;
  img {
    border-radius: 6px;
    &:hover {
      // background-color: black;
      // opacity: 0.7;
      width: 102%;
      // border: 8px solid black;
    }
  }
}

.home span {
  color: $base-color;
}

.about,
.works {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
}

.about {
  // color: white;
  // background-color: #262626;
  .icon-img {
    max-width: 150px;
    margin: 0 auto;
    padding: 24px 24px 36px 24px;
  }
  .download-btn {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 16px 20px;
    text-align: center;
    margin: 80px 20px 0 20px;
    &:hover {
      background-color: $base-color;
    }
  }

  .download-icon {
    width: 16px;
  }
}

.space-bottom {
  margin-bottom: 40px;
}

.footer {
  padding-top: $space-content-top;
  padding-bottom: $space-ending;
  img {
    max-width: 40px;
    border-radius: 4px;
    &:hover {
      width: 38px;
      border-radius: 4px;
    }
  }
}

hr {
  color: #bdb6b3;
}
