@import "library";

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(2000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slidedDown {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -10;
  background-color: $base-color;
}

.stroke {
  margin-top: $space-content-top;
  margin-bottom: $space-content-bottom;
}

.home {
  // height: 100vh;
  animation: expand 0.8s ease forwards;
  background-color: $bg-color;
  position: relative;
  transition: all 0.8s ease;
}

// animation
.herobanner {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
  h1,
  .profile {
    transform: translateY(1000px);
    animation: slideUp 2s ease forwards 0.5s;
    // padding-top: $space-content-top;
    img {
      border-radius: 8px;
      max-width: 350px;
    }
  }
}

@media (max-width: 768px) {
  .profile img {
    padding-top: 100px;
    // padding-bottom: $space-content-bottom;
  }
}

.menu {
  animation: slidedDown 2.3s ease forwards;
  width: 100%;
  position: sticky;
  background-color: $bg-color;
  top: 0;
  height: 62px;
  z-index: 1;
}

@media (max-width: 768px) {
  .menu {
    height: 120px;
  }
} 

.item {
  padding: 0 40px 72px 40px;
}

.works {
  padding-top: $space-content-top;
  transform: translateY(900px);
  animation: slideUp 1.8s ease-in-out forwards 0.8s;
  figure {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  figure:hover+span {
    bottom: -36px;
    opacity: 1;
  }
  img {
    border-radius: 6px;
    transform: scale(1);
    transition: .3s ease-in-out;
    &:hover { 
    	transform: scale(1.1);
    }
  }
}

.home span {
  color: $base-color;
}

.about {
  padding-top: $space-content-top;
  padding-bottom: $space-content-bottom;
}

.about {
  // color: white;
  // background-color: #262626;
  .icon-img {
    max-width: 150px;
    margin: 0 auto;
    padding: 24px 24px 36px 24px;
  }
  .download-btn {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 16px 20px;
    text-align: center;
    margin: 80px 20px 0 20px;
    &:hover {
      background-color: $base-color;
    }
  }
}

.space-bottom {
  margin-bottom: 40px;
}

 

.footer {
  padding-top: $space-content-top;
  padding-bottom: $space-ending;
  img {
    max-width: 40px;
    border-radius: 4px;
    &:hover {
      width: 38px;
      border-radius: 4px;
    }
  }
}

hr {
  color: #6d6866;
}
